@model IEnumerable<GAX.Core.Models.Supplier>

@{
    ViewBag.Title = "Elenco";
}

<h2>Elenco</h2>

<p>
    @Html.ActionLink("Crea nuovo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.LabelFor(modelItem => modelItem.First().Name)
        </th>
        <th>
            @Html.LabelFor(modelItem => modelItem.First().ShortDescription)
        </th>
        <th>
            @Html.LabelFor(modelItem => modelItem.First().Email)
        </th>
        <th>
            @Html.LabelFor(modelItem => modelItem.First().WebAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebAddress)
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id=item.SupplierId }) |
            @Html.ActionLink("Dettagli", "Details", new { id = item.SupplierId }) |
            @Html.ActionLink("Cancella", "Delete", new { id = item.SupplierId })
        </td>
    </tr>
}

</table>
